@model List<Department>

    <a asp-action="AddDepartment" class="btn btn-lg btn-primary float-end">Add</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Department Id</th>
                <th scope="col">Department Name</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>

        @foreach (var dept in Model)
        {
            <tr>
                <td>@dept.DepartmentId</td>
                <td>@dept.DepartmentName</td>
                <td><a class="btn btn-sm btn-warning" asp-action="UpdateDepartment" asp-route-departmentId="@dept.DepartmentId">Edit</a> </td>
                <td><a class="btn btn-sm btn-danger" asp-action="DeleteDepartment" asp-route-departmentId="@dept.DepartmentId">Delete</a></td>
            </tr>
        }


    </table>