@model Department

<form method="post" action="UpdateDepartment">


    @Html.Partial("_AddEditDepartmentPartial")

    <input type="hidden" asp-for="DepartmentId" />


    <input class="btn btn-success" type="submit" value="Save" />
</form>