@model EmployeeViewModel

<table>

    <tr>
        <td>Employee Number</td>
        <td><input type="text" asp-for="Employee.EmployeeNumber" /></td>
    </tr>

    <tr>
        <td>Name</td>
        <td><input type="text" asp-for="Employee.Name" /></td>
    </tr>

    <tr>
        <td>Department</td>
        <td>
            <select asp-for="Employee.DepartmentId">
                @foreach (var dept in Model.Departments)
                {
                    <option value="@dept.DepartmentId">@dept.DepartmentName</option>
                }

            </select>
        </td>
    </tr>

    <tr>
        <td>Designation</td>
        <td><input type="text" asp-for="Employee.Designation" /></td>
    </tr>

</table> 