@model Employee

<table>

    <tr>
        <td>Employee Number</td>
        <td><input type="text" asp-for="EmployeeNumber" /></td>
    </tr>

    <tr>
        <td>Name</td>
        <td><input type="text" asp-for="Name" /></td>
    </tr>

    <tr>
        <td>Department</td>
        <td><input type="text" asp-for="Department" /></td>
    </tr>

    <tr>
        <td>Designation</td>
        <td><input type="text" asp-for="Designation" /></td>
    </tr>

</table> 