@model EmployeeViewModel

<form method="post" action="UpdateEmployee">


    @Html.Partial("_AddEditEmployeePartial")

    <input type="hidden" asp-for="Employee.EmployeeId" />


    <input class="btn btn-success" type="submit" value="Save" />
</form>