@model List<Designation>

<table>
    <tr>
        <th>Designation Id</th>
        <th>Designation Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>

    @foreach (var desi in Model)
    {
        <tr>
            <td>@desi.DesignationId</td>
            <td>@desi.DesignationName</td>
            <td><a asp-action="UpdateDesignation" asp-route-designationId="@desi.DesignationId">Edit</a> </td>
            <td><a asp-action="DeleteDesignation" asp-route-designationId="@desi.DesignationId">Delete</a></td>
        </tr>
    }


</table>