@model Designation

<form method="post" action="UpdateDesignation">


    @Html.Partial("_AddEditDesignationPartial")

    <input type="hidden" asp-for="DesignationId" />


    <input class="btn btn-success" type="submit" value="Save" />
</form>